{% extends 'base.html' %}

{% block content %}



<h1>Posts</h1>

<ul><br/>
{% for post in object_list %}
	<li><a href="{% url 'article-detail' post.pk %}">{{ post.specie }} ({{ post.strain }})</a> - {{ post.author.first_name }} {{ post.author.last_name }} - 
		{{ post.post_date }}  <small>

		{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
				- <a href ="{% url 'update_post' post.pk %}">(Edit)</a>

				<a href ="{% url 'delete_post' post.pk %}">(Delete)</a>
			{% endif %}	
		{% endif %}

	</small> <br/><br/>
	{{ post.information |slice:":200"|safe }}...</li>
	<br/>
{% endfor%}
</ul>


{% endblock %}