{% extends 'base.html' %}
{% block specie %}Edit Microorganism{% endblock %}
{% block content %}


{% if user.is_authenticated %}
	{% if user.id == post.author.id %}

		<h1>Update Microorganism</h1>
		<br/><br/>

		<div class="form-group">
			<form method="POST">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<button class="btn btn-secondary"> Update </button>
		</div>
	{% else %}
			You have to log in.
	{% endif %}			
{% else %}

You have to log in.

{% endif %}



{% endblock %}